Surgery_assisted_cooperative_robot/pick_and_place_voice/resource/.env
.vscode/colcon.env
# Python __pycache__
__pycache__/
# VSCode
.vscode/
Auto_Parking_System/Parking_GUI_Android/bridge_server/.env
